html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

body {
    box-sizing: border-box;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 2em 2em 2em 2em;
    background-image: url(images/cooking.jpg);
    background-size: cover;
    overflow: hidden;
}

#contents {
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 5vh 0 1vh 0;
}

#form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 75vh;
    padding: 1vw 0 2vw 0;
}

h1 {
    color: rgb(31, 120, 68);
    border-radius: 2vw 2vw 0 0;
    font-size: clamp(25px, 3vw, 90px);
    margin: 0px;
    background-color: rgba(183, 204, 177, 0.8);
    padding: 2vw 0vw 1.5vw 0vw;
    width: 80vw;
}

h2 {
    font-size: clamp(22px, 2vw, 50px);
}

input {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(19px, 1.2vw, 50px);
}

.radioLabels {
    font-size: clamp(20px, 1.2vw, 50px);
    color: black;
}

#convert-button {
    margin: 4vh 0 1vh 0;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(20px, 1.2vw, 50px);
    padding: 0.4em 1em;
    background-color: rgb(128, 170, 146);
    border-radius: 0.3em;
}

button:hover {
    cursor: pointer;
    background-color: rgb(86, 162, 110);
}

#conversionResult {
    font-size: clamp(25px, 1.2vw, 50px);
    padding: 0.2em 2em;
    border: 0.1em solid rgb(33, 68, 46);
    border-radius: 0.4em;
    background-color: rgb(240, 255, 251);
}